:root {
  --primary-color: #817261;
  --secondary-color: #a3a8b3;
  --tertiary-color: #352810;
  --contrast-color: #ffffff;
  --overlay-color: #000000;
  --heading-font-family: "Bodoni Moda", serif;
  --default-font-family: "Kantumruy Pro", sans-serif;
}

/* Text */
h1 {
  font-family: var(--heading-font-family);
  font-weight: lighter;
  color: var(--primary-color);
}

h2 {
  color: var(--secondary-color);
  font-size: 40px;
  font-weight: lighter;
  font-family: var(--heading-font-family);
}

h3,
h4,
p,
a,
li {
  margin: 0;
  font-family: var(--default-font-family);
  color: var(--primary-color);
  letter-spacing: 0.1em;
}

h1 {
  font-size: 120px;
  line-height: 1em;
}

h4 {
  font-size: 16px;
}

p,
a,
li {
  font-size: 14px;
  text-decoration: none;
  list-style-type: none;
  line-height: 2em;
}

a:hover {
  color: var(--secondary-color);
}

hr {
  display: none;
}

/* Nav overlay */
.overlay {
  height: 100vh;
  width: 0;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  background-color: var(--overlay-color); /* Black fallback color */
  background-color: var(--overlay-color); /* Black w/opacity */
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

.nav-overlay {
  background-color: var(--secondary-color);
  height: 100vh;
}

.nav-overlay .menu-icon {
  color: var(--contrast-color);
  font-size: 18px;
}

.nav-overlay .menu-icon:hover {
  color: var(--tertiary-color);
}

.nav-overlay-text ul {
  list-style-type: none;
  margin-left: 55vw;
  padding-top: 5vh;
  padding-bottom: 10vh;
  border-left: 1.2px solid var(--contrast-color);
}

.nav-overlay-text a {
  font-family: var(--heading-font-family);
  font-size: 60px;
  color: var(--contrast-color);
  line-height: 1.2em;
  margin-left: 2vw;
}

.nav-overlay-text a:hover {
  color: var(--tertiary-color);
}

/* Nav main */
.nav-main .menu-icon {
  position: fixed;
}

.menu-icon {
  padding-left: 3vw;
  padding-top: 5vh;
  color: var(--tertiary-color);
  cursor: pointer;
  font-size: 15px;
}

.menu-icon:hover {
  color: var(--secondary-color);
}

/* Container */
.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

/* Hero */
.hero-mobile {
  display: none;
}

.hero-main {
  padding-bottom: 86vh;
  padding-top: 10vh;
  padding-left: 5vw;
  padding-right: 5vw;
}

.hero-main-image {
  position: relative;
  width: 50vw;
  display: flex;
  float: right;
  margin-right: 12vw;
}

.hero-main-heading {
  position: absolute;
  width: 60%;
  margin-left: 11.5vw;
  margin-top: 33vh;
  padding-bottom: 3%;
  border-bottom: 1.2px solid var(--primary-color);
  /*
  color: transparent;
  -webkit-text-stroke: 2px #a3a8b3;*/
}

.hero-main-subheading {
  color: var(--secondary-color);
  transform: rotate(90deg);
  position: absolute;
  margin-top: 32vh;
  margin-left: 70vw;
}

.read-more {
  position: absolute;
  margin-top: 72vh;
  margin-left: 62vw;
}

/* Content */
.content {
  display: block;
  margin: 0 auto;
  padding: 0vh 10vw 0vh;
}

.alternate-page-header {
  padding: 5vh 5vw 8vh;
  margin-bottom: 3vh;
  background-color: var(--primary-color);
}

.alternate-page-header h1 {
  color: var(--contrast-color);
  text-align: right;
}

.about-me-image {
  display: block;
  margin: 0 auto;
  padding-top: 5vh;
  width: 75%;
}

.sub-1,
.sub-3 {
  text-align: right;
  padding-right: 10%;
  border-right: 1.5px solid var(--primary-color);
}

.sub-2,
.sub-4 {
  text-align: left;
  padding-left: 10%;
}

/* Accordion */

.accordion-flush .accordion-item {
  border: 0;
  color: var(--primary-color);
}

.accordion-flush .accordion-item .accordion-button {
  color: var(--primary-color);
}

.accordion-button {
  padding: 0.5rem 1rem;
}

.accordion-button:not(.collapsed) {
  background-color: var(--contrast-color);
}

.accordion-button:focus {
  z-index: 3;
  outline: 0;
  box-shadow: none;
}

.accordion-button::after {
  filter: invert(47%) sepia(2%) saturate(3158%) hue-rotate(352deg)
    brightness(96%) contrast(90%);
}

.accordion-button:not(.collapsed)::after {
  filter: invert(0%) sepia(1%) saturate(3%) hue-rotate(326deg) brightness(200%)
    contrast(104%);
}

.section-2-mobile-text-only {
  display: none;
}

/* Timeline */
.timeline {
  margin-bottom: 6vh;
}

.timeline-steps {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.timeline-steps .timeline-step {
  align-items: center;
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 1em;
}

.timeline-steps .timeline-step:not(:last-child):after {
  content: "";
  display: block;
  border-top: 1.5px solid var(--secondary-color);
  width: 3.46em;
  position: absolute;
  left: 7.5em;
  top: 0.3125em;
}

.timeline-steps .timeline-step:not(:first-child):before {
  content: "";
  display: block;
  border-top: 1.5px solid var(--secondary-color);
  width: 3.8125em;
  position: absolute;
  right: 7.5em;
  top: 0.3125em;
}

.timeline-steps .timeline-content {
  width: 10em;
  text-align: center;
}

.timeline-steps .timeline-content .inner-circle {
  border-radius: 1.5em;
  height: 1em;
  width: 1em;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: var(--secondary-color);
}

.timeline-steps .timeline-content .inner-circle:before {
  content: "";
  background-color: var(--secondary-color);
  display: inline-block;
  height: 3em;
  width: 3em;
  min-width: 3em;
  border-radius: 6.25em;
  opacity: 0.5;
}

/* Button */
.primary-button-link,
.secondary-button-link,
.tertiary-button-link {
  color: var(--contrast-color);
  text-decoration: none;
  font-size: 14px;
  border-radius: 0;
  background-color: var(--primary-color);
  opacity: 0.5;
}

.primary-button-link:hover,
.secondary-button-link:hover,
.tertiary-button-link:hover {
  color: var(--contrast-color);
  background-color: var(--secondary-color);
}

.primary-button-link {
  padding: 1.5% 3%;
}

.secondary-button-link {
  margin: 10% 0% 25%;
  padding: 5% 10%;
}

.tertiary-button-link {
  margin: 15vh 0vw;
  padding: 3vh 4vw;
}

/* project images */

.project-image {
  padding-bottom: 2.5vh;
}

.image-grid {
  width: 100%;
}

/* Footer */
footer {
  background-color: #a3a8b3;
  padding: 5vh 10vw;
}
.footer-text {
  color: var(--contrast-color);
  text-align: center;
  padding-bottom: 3vh;
  margin: 0vh 15vw;
}

.footer-icons {
  padding-left: 18vw;
  padding-right: 18vw;
}

.footer-icons a {
  color: var(--contrast-color);
}

.footer-icons a:hover {
  color: var(--tertiary-color);
}

/* Mobile */
@media screen and (max-width: 576px) {
  .nav-overlay-text ul {
    margin-left: 30vw;
  }

  .nav-overlay-text a {
    font-size: 32px;
  }

  p {
    font-size: 11px;
  }

  hr {
    color: var(--primary-color);
    display: block;
    margin: 4vh 0vw 0vh;
  }

  .about-me-image {
    padding-top: 0;
    width: 100%;
  }

  .sub-1,
  .sub-2,
  .sub-3,
  .sub-4 {
    border: none;
    padding: 0;
    text-align: left;
  }

  .section-2-mobile-text-only {
    display: block;
  }

  .section-2-desktop {
    display: none;
  }

  .timeline {
    margin-bottom: 3vh;
  }

  .primary-button-link,
  .secondary-button-link,
  .tertiary-button-link {
    font-size: smaller;
  }

  .primary-button-link {
    padding: 4% 5.5%;
  }

  .secondary-button-link {
    margin: 7% 0% 10%;
    padding: 3% 5%;
  }

  .tertiary-button-link {
    margin: 2vh 0vw;
    padding: 5% 15%;
    width: 40vw;
  }

  footer {
    padding: 5vh 10vw;
  }
}

@media screen and (min-width: 200px) and (max-width: 1000px) {
  h1 {
    font-size: 50px;
  }

  h2 {
    font-size: 30px;
  }

  h3 {
    font-size: 18px;
  }

  .container-fluid {
    padding-left: 0;
    padding-right: 0;
  }

  .menu-icon {
    padding-left: 5vw;
    padding-top: 2vh;
  }

  .hero-main {
    display: none;
  }

  .hero-main-subheading {
    display: none;
  }

  .hero-mobile {
    padding: 4vh 0vw 15vh;
    display: block;
    width: 100vw;
  }

  .hero-mobile-image {
    padding-top: 2vh;
    width: 100vw;
    height: 75vh;
    object-fit: cover;
    display: flex;
    position: absolute;
  }

  .hero-mobile-text {
    margin-right: 7vw;
    margin-left: 15vw;
    padding-top: 48vh;
    text-align: right;
    position: relative;
  }

  .hero-mobile-subheading {
    color: var(--secondary-color);
  }

  .content {
    padding: 5vh 10vw 0vh;
  }

  .about-me-image {
    padding-top: 8%;
    width: 100%;
  }

  .timeline {
    margin-bottom: 4vh;
  }

  .timeline-steps .timeline-step:not(:last-child):after {
    border-top: none;
  }

  .timeline-steps .timeline-step:not(:first-child):before {
    border-top: none;
  }

  .section-2-mobile-text-only {
    display: block;
    margin: 4vh 4vw 4vh;
  }

  .section-2-desktop {
    display: none;
  }

  .alternate-page-header {
    padding: 3vh 8vw 3vh;
  }
}
